<div class="content-wrapper full-width">
  <div class="content-table">
    <mat-toolbar class="table-title full-width" color="primary">
      {{ title }}
      <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <mat-card dynamicHeight class="mat-elevation-z8">

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Cuit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuit </th>
          <td mat-cell *matCellDef="let element"> {{element.Cuit}} </td>
        </ng-container>

        <ng-container matColumnDef="RazonSocial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon Social </th>
          <td mat-cell *matCellDef="let element"> {{element.RazonSocial}} </td>
        </ng-container>

        <ng-container matColumnDef="Telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.Telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button type="button" (click)="add()" matTooltip="agregar empresa">
              <mat-icon>add_circle</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <!-- <button mat-icon-button type="button" style="color:red"
          (click)="delete(row.Cuit)"
          matTooltip="eliminar empresa">
            <mat-icon aria-label="delete">highlight_off</mat-icon>
          </button> -->
            <button mat-icon-button type="button" (click)="edit(row.Cuit)" matTooltip="editar empresa">
              <mat-icon aria-label="select">forward</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>