<div [formGroup]="form">

    <div mat-dialog-content>        
        <mat-form-field>          
          <input matInput formControlName="Cuit" placeholder="Cuit">
          <mat-error *ngIf="form.get('Cuit')?.errors.required">
            cuit es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="RazonSocial"  matInput placeholder="Razon Social">
            <mat-error *ngIf="form.get('RazonSocial')?.errors.required">
              razon social es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Provincia"  matInput placeholder="Provincia">
            <mat-error *ngIf="form.get('Provincia')?.errors.required">
              provincia es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Localidad"  matInput placeholder="Localidad">
            <mat-error *ngIf="form.get('Localidad')?.errors.required">
              localidad is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Domicilio"  matInput placeholder="Domicilio">
            <mat-error *ngIf="form.get('Domicilio')?.errors.required">
              domicilio is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Telefono"  matInput placeholder="Telefono">
            <mat-error *ngIf="form.get('Telefono')?.errors.required">
              telefono is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Email"  matInput placeholder="Email">
            <mat-error *ngIf="form.get('Email')?.errors.required">
              email is required
            </mat-error>
          </mat-form-field>

      </div>      
      <div mat-dialog-actions class="example-button-row">        
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
        <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>        
      </div>
</div>