/* .example-form {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  } */

  .mat-form-field{
    margin: 20px 20px 20px 20px;
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-button-row {
    display: table-cell;
    width: 490px;
  }
