<button mat-mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Seleccion de empresa</ng-template>
            <mat-form-field>
                <mat-label>empresas</mat-label>
                <mat-select selected (change)="onChange(selected.value)">
                    <mat-option *ngFor="let company of business" [value]="company">
                        {{company}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!selected.hasError('required')">
                    Error en la selección de empresas
                  </mat-error>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Lineas de colectivos">
        <table mat-table [dataSource]="lines">

        </table>
    </mat-step>
</mat-horizontal-stepper>