
<div class="content-wrapper full-width">
  <div class="content-table">
    <mat-toolbar class="table-title full-width" color="primary">
      Lineas de colectivos
    </mat-toolbar>
    
    <mat-tab-group dynamicHeight class="mat-elevation-z8">      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>search</mat-icon>
          Consultar
          <!--<span>Consultar</span> -->
        </ng-template>
        
        <form formGroup="form" (ngSubmit)="onSubmit()">          
          
          <mat-form-field appearance="fill">
            <mat-label>empresas</mat-label>
            <mat-select formControlName="selected">
              <mat-option *ngFor="let item of business" [value]="item.Cuit">
                {{item.RazonSocial}}
              </mat-option>
            </mat-select>            
          </mat-form-field>             
        
          <mat-form-field appearance="fill">
            <mat-label>prueba</mat-label>
            <input matInput value="Sushi">
          </mat-form-field>
        
      <div class="btn">
        <button type="submit" color="primary" mat-raised-button >Buscar</button>
      </div>    
        </form>
      
        <div [hidden]="lines.length == 0">
          <mat-table [dataSource]="lines" class="full-width data-table">
            
            <ng-container matColumnDef="idLineaColectivo">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.idLineaColectivo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef> linea </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>
                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button type="button" (click)="edit()"
                  matTooltip="editar linea de colectivo">
                  <mat-icon aria-label="select">forward</mat-icon>
                  </button>
                </mat-cell>
              </mat-header-cell>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </mat-table>
        </div>      
      </mat-tab>      
    </mat-tab-group>  
  </div>
</div>