<mat-toolbar color="primary">
    <span>
      <mat-icon aria-hidden="false" aria-label="home" routerLink="/">home</mat-icon>
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="company">Empresa</button>
    <button mat-button [matMenuTriggerFor]="driver">Choferes</button>
    <button mat-button [matMenuTriggerFor]="busLine">Lineas de colectivo</button>

    <mat-menu #company="matMenu">
        <button mat-menu-item routerLink="company/home">Consulta de Empresas</button>
      </mat-menu>

    <mat-menu #driver="matMenu">
      <button mat-menu-item routerLink="chofer/home">Consulta de Choferes</button>
    </mat-menu>

    <mat-menu #busLine="matMenu">
      <button mat-menu-item routerLink="line/home">Consulta Lineas de colectivo</button>
    </mat-menu>

</mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>
